<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<p>Mission: <%=marsMissions%></p>
<p>Launch Date: <%=launchDate%></p>
<p>Operator: <%=operator%></p>
<p>Mission Type: <%=missionType%></p>
<a href="/index">Back</a>
<img src=<%=img%>>