<div>
<h1><%= component.name %></h1>
<p><%= component.launchDate %></p>
<p><%= component.operator %></p>
<p><%= component.missionType %></p>
<img src="https://buzzaldrinspaceinstitute.com/wp-content/uploads/2016/10/Mars_Cutout.png" alt="<%= component.name %> mission">
</div>