<!DOCTYPE html>
<html>
	<head>
		<title><%=marsMissions%></title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>
	<body>
		<p>Mission: <%=marsMissions%></p>
		<p>Launch Date: <%=launchDate%></p>
		<p>Operator: <%=operator%></p>
		<p>Mission Type: <%=missionType%></p>
		<a href="/missions">Back</a> <img src=<%=img%>>
	</body>
</html>
