<!DOCTYPE html>
<html>
	<head>
		<title><%=marsMissions%></title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>
	<body>
		<p>Mission: <%=marsMissions.name%></p>
		<p>Launch Date: <%=marsMissions.launchDate%></p>
		<p>Operator: <%=marsMissions.operator%></p>
		<p>Mission Type: <%=marsMissions.missionType%></p>
		<a href="/missions">Back</a> <img src=<%=marsMissions.img%> alt="Mars Mission Image">
	</body>
</html>
